
# Author : BEN SWISA
node1:
  ros__parameters:
    enc_y : 0
    enc_z : 1
    max_pwm : 200 # upper bound for motor pwm
    controller_freq : 100
    kp : [12.0000000,0.000000,10.0000000,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000] # controller constants
    ki : [0.00003010,0.000000,0.00003010,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000]  
    kd : [2.000000,0.000000,10.0000000,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000,
          0.0000000,0.0000000,0.0000000]
node2:
  ros__parameters:
    joint_angle_cmd : [0.000000,0.000000,0.0000000,
                        0.0000000,0.0000000,0.0000000]
